
@import "variables.scss";
@import "mixins.scss";
@import "components/carousel.scss";
@import "components/destinationCard.scss";
@import "components/footer.scss";
@import "components/parallax.scss";
@import "components/modal.scss";
@import "components/navbar.scss";
@import "components/operatorCard.scss";
@import "components/sidebar.scss";
@import "components/buttons.scss";

body{
    background-color: lightgray;
}
.checkbox.container{
    display: flex;
    justify-content: space-evenly;
}