

.card-destination{
                    
    font-family: 'Satisfy', cursive, 'roboto';
    
}
#imgcard{
    padding-top: 10px;
}

    #cardDestination{
       display :flex;
       flex-direction: row-reverse;
       justify-content :space-between;
       flex-wrap: wrap;
    }

#smallcard{
    margin-right: 15px;
}