

.card-destination{
                    
    font-family: 'Satisfy', cursive, 'roboto';
    
}
#imgcard{
    padding-top: 10px;
}

#cardDestination{
       display :flex;
       justify-content :space-around;
       flex-wrap: wrap;
    }

#smallcard{
    margin-right: 60px;
}