.socials-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2rem;
}
.socials-icons{
    a{
        color:white;
    }
}
.email{
    font-size: 1.2rem;
}